table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: large;
    line-height: 28px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
tr.centered th, tr.centered td {
    text-align: center;
}
th {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    background-color: #AFEEEE;
    color: #007;
    text-align: left;
}
td {
    border-bottom: 1px solid #BBB;
    background-color: #EEE;
    color: #000;
}
td, th {
    padding: 0.2em 0.5em 0.2em 0.5em;
}
td+td, th+th {
    border-left: 1px solid #BBB;
}
